@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录中心</title>
    <link href="~/lib/layui-v2.9.7/layui/css/layui.css" rel="stylesheet">
</head>
<body>
    <style>
        .demo-login-container {
            width: 320px;
            margin: 210px auto 0;
        }

        .demo-login-other .layui-icon {
            position: relative;
            display: inline-block;
            margin: 0 2px;
            top: 2px;
            font-size: 26px;
        }
    </style>
    <form class="layui-form">
        <div class="demo-login-container">
            <div class="layui-form-item">
                <div class="layui-input-wrap">
                    <div class="layui-input-prefix">
                        <i class="layui-icon layui-icon-username"></i>
                    </div>
                    <input type="text" name="username" value="" lay-verify="required" placeholder="用户名" lay-reqtext="请填写用户名" autocomplete="off" class="layui-input" lay-affix="clear">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-wrap">
                    <div class="layui-input-prefix">
                        <i class="layui-icon layui-icon-password"></i>
                    </div>
                    <input type="password" name="password" value="" lay-verify="required" placeholder="密   码" lay-reqtext="请填写密码" autocomplete="off" class="layui-input" lay-affix="eye">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-row">
                    <div class="layui-col-xs7">
                        <div class="layui-input-wrap">
                            <div class="layui-input-prefix">
                                <i class="layui-icon layui-icon-vercode"></i>
                            </div>
                            <input type="text" name="captcha" value="" lay-verify="required" placeholder="验证码" lay-reqtext="请填写验证码" autocomplete="off" class="layui-input" lay-affix="clear">
                        </div>
                    </div>
                    <div class="layui-col-xs5">
                        <div style="margin-left: 10px;">
                            <img id="refreshCaptcha" onclick="reloadCaptcha()">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="demo-login">点击请求登录</button>
            </div>
        </div>
        <input type="hidden" id="captchaId" name="captchaId" />
    </form>

    <!-- 请勿在项目正式环境中引用该 layui.js 地址 -->
    <script src="~/lib/layui-v2.9.7/layui/layui.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/axios/dist/axios.min.js"></script>
    <script src="~/js/common.js"></script>
    <script>

        $(function () {
            reloadCaptcha();
        });

        layui.use(function () {
            var form = layui.form;

            // 提交事件
            form.on('submit(demo-login)', function (data) {
                var field = data.field; // 获取表单字段值
                // 显示填写结果，仅作演示用
                // layer.alert(JSON.stringify(field), {
                //     title: '当前填写的字段值'
                // });
                // 此处可执行 Ajax 等操作
                //var captchaId = $("#captchaId").val();
                //var captcha = $("#captcha").val();
                var url = "/login/do?username=" + field.username + "&password=" + field.password + "&captchaId=" + field.captchaId + "&captcha=" + field.captcha + "&retUrl="+Request.QueryString("returnUrl");
                axios.get(url).then(function (response) {
                    if (response.status == 200) {
                        var result = response.data;
                        console.log(response);
                        msg(result, function () {
                            location.href = result.data;
                        });
                    }
                });
                return false; // 阻止默认 form 跳转
            });
        });

        function reloadCaptcha() {
            var id = Math.random();
            $("#captchaId").val(id);
            var imgUrl = "/login/GetCaptcha?rnd=" + id;
            $('#refreshCaptcha').prop('src', imgUrl);
        }

    </script>

</body>
</html>