@{
    ViewData["Title"] = "A后台";
}

<div class="text-center">
    <h1 class="display-4">A后台</h1>
    <button type="button" id="btn_login">点击模拟登录</button>
</div>
@section Scripts
{
    <script>
        $(function() {
            $("#btn_login").click(function() {
                $.get();
            });
        });
    </script>
}
