@{
    ViewData["Title"] = "模拟系统站点1";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewData["site"] @ViewData["name"]</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
