@{
    Layout = "_Layuimini";
}
@using Public.Core.Extensions
@model Sysbase.Domains.Entities.LoginUser;

<form class="layui-form" action="" lay-filter="formData">
    <input type="hidden" name="ID" value="@Model.ID" />

    <div class="layui-form-item">
        <label class="layui-form-label">登陆名</label>
        <div class="layui-input-block" style="width: 280px">
            <input type="text" name="LoginName" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
        </div>
    </div>
</form>
@section Scripts
{
    <script>
        layui.use(['form', 'layer'],
            function() {
                var $ = layui.jquery;
                var form = layui.form;

                //表单初始赋值
                form.val('formData', @Html.Raw(Model.ToJson()));


                //监听提交
                form.on('submit(demo1)',
                    function(data) {
                        showLoader();
                        axios.post('/sys/loginUser/Save',
                            {
                                ID: parseInt(data.field.ID),
                                LoginName:data.field.LoginName
                    }).then(function(response) {
                            if (response.status === 200) {
                                var result = response.data;
                                if (result.IsError) {
                                    msgFail(result.Message);
                                } else {
                                    msgOk("保存成功",
                                        function() {
                                            closeMe();
                                            parent.window.table.reload('data-table');
                                        });
                                }
                            } else {
                                msgFail("请求失败");
                            }
                        });
                        return false;
                    });
            });
    </script>
}
