@{
    Layout = "_Layuimini";
}

<form class="layui-form" action="" lay-filter="formData">
    <input type="hidden" name="ID" id="ID" />

    <div class="layui-form-item">
        <label class="layui-form-label">填写原密码</label>
        <div class="layui-input-block" style="width: 260px">
            <input type="password" name="OldPwd" autocomplete="off" lay-verify="required" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">填写新密码</label>
        <div class="layui-input-block" style="width: 260px">
            <input type="password" name="NewPwd" autocomplete="off" lay-verify="required" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">确认新密码</label>
        <div class="layui-input-block" style="width: 260px">
            <input type="password" name="NewPwd2" autocomplete="off" lay-verify="required" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
        </div>
    </div>
</form>
@section Scripts
{
    <script>
        layui.use(['form', 'layer'],
            function() {
                var $ = layui.jquery;
                var form = layui.form;
                var layer = layui.layer;

                $('#ID').val(Request.QueryString('id'));

                //监听提交
                form.on('submit(demo1)',
                    function(data) {
                        if (data.field.OldPwd === data.field.NewPwd) {
                            msgFail('原密码和新密码一样');
                            return false;
                        }
                        if (data.field.NewPwd !== data.field.NewPwd2) {
                            msgFail('新密码和确认密码不符');
                            return false;
                        }
                        var postData = {
                            ID : parseInt(data.field.ID),
                            OldPwd: data.field.OldPwd,
                            NewPwd: data.field.NewPwd,
                            NewPwd2: data.field.NewPwd2
                        };
                        showLoader();
                        axios.post('/sys/loginUser/resetpwd', postData).then(function (response) {
                            if (response.status === 200) {
                                var result = response.data;
                                if (result.IsError) {
                                    msgFail(result.Message);
                                } else {
                                    msgOk(result.Message,
                                        function() {
                                            location.reload();
                                        });
                                }
                            } else {
                                msgFail("请求失败");
                            }
                        });
                        return false;
                    });
            });
    </script>
}
